.site-navbar .navbar-header .navbar-brand-logo {
    height: 60px;
    position: relative;
    top: -14px;
}
.dataTables_filter{
    float: right;
}
.table td{
    vertical-align: middle!important;
}
.pagination{
    float: right;
}
.nav-link:hover{
    cursor: pointer;
}
.table-responsive{
    display: block;
    min-width: 100%;
}
.member-table th{
    min-width: 150px!important;
}
.transaction-table th{
    min-width: 175px!important;
}